<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Create new account">
    <classes>
      <class name="simranphul.spotifyapp.CreateNewAccount"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Login to existing account">
    <classes>
      <class name="simranphul.spotifyapp.LoginToApp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
